@model Web.Models.DiscountDetailsViewModel

@{
    Model.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Discount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount.Product.Name.Value)
        </dd>

        <dt>
            DiscountType
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount.DiscountType.Name.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount.AmountPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount.AmountPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Discount.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
