@model Web.Models.ClientCreateEditDetailsViewModel

@{
    Model.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.IdCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.IdCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Client.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
