@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-11">
        <div class="btns">
            <a href="/Client" class="bigbtn bigbtn-half"><span>Clients</span></a>
            <a href="/User" class="bigbtn bigbtn-half"><span>Users</span></a>            
        </div>
        <div class="btns">
            <a href="/Discount" class="bigbtn bigbtn-half"><span>Discounts</span></a>
            <a href="/DiscountType" class="bigbtn bigbtn-half"><span>Discount types</span></a>
        </div>
        <div class="btns">
            <a href="/Product" class="bigbtn bigbtn-full"><span>Products</span></a>
        </div>
    </div><!-- eof .col-md-10 -->
</div><!-- eof .row -->

@*<div class="row">
    <div class="col-md-4">
        <h2>Choose section:</h2>
        <p>
            <ul>
                <li>@Html.ActionLink("Clients", "Index", "Client")</li>
                <li>@Html.ActionLink("Users", "Index", "User")</li>
                <li>@Html.ActionLink("Products", "Index", "Product")</li>
                <li>@Html.ActionLink("Discounts", "Index", "Discount")</li>
                <li>@Html.ActionLink("Discount Types", "Index", "DiscountType")</li>
            </ul>
        </p>
    </div>
</div>*@