@model Web.Models.DiscountTypeCreateEditDetailsViewModel

@{
    Model.Title = "Details on discount type";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiscountType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountType.Name.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountType.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountType.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiscountType.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
